{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <script src="../static/bootstrap-table/dist/extensions/flat-json/bootstrap-table-flat-json.js"></script>
    <script src="../static/bootstrap-table/dist/extensions/multiple-sort/bootstrap-table-multiple-sort.js"></script>

    <script src="../static/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <link href="../static/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet" />
    <script src="../static/bootstrap-select/dist/js/i18n/defaults-zh_CN.js"></script>

    <script src="../static/bootstrap-table/dist/extensions/export/bootstrap-table-export.js"></script>
    <script src="../static/table_export.js"></script>
    <script src="../static/string_format.js"></script>

{% endblock %}

{% block page_content %}
    <div id="toolbar">
        <select id="type_select" class="selectpicker show-tick" data-live-search="true" data-width="140px" title="请选择产品类别">
        </select>
        <select id="batch_select" class="selectpicker show-tick" data-live-search="true" data-width="120px" title="请选择批次">
        </select>
        <button id="remove_button" class="btn btn-danger" disabled>
            <i class="glyphicon glyphicon-remove"></i> 删除
        </button>
        <button id="add_button" class="btn btn-info">
            <i class="glyphicon glyphicon-plus"></i> 添加
        </button>
        <button id="save_button" class="btn btn-success">
            <i class="glyphicon glyphicon-save"></i> 保存
        </button>
        <button id="mode_button" class="btn btn-default">
            <i class="glyphicon glyphicon-retweet"></i> 本人模式
        </button>
    </div>
    <table id="table" class="text-nowrap"  
            data-toggle="table"
            data-toolbar="#toolbar"
            data-search="true"
            data-show-columns="true"
            >  
    </table>
    <h4>统计信息:&nbsp&nbsp 当前汇率: &nbsp&nbsp<a href="#" id="change_rate" data-type="text">8.0</a></h4>
    <table id="statistic_table" class="text-nowrap"
            data-toggle="table"
            data-unique-id="batch_info"
            >  
    </table>
    <p></p>
    <button id="export_button" class="btn btn-default">
        <i class="glyphicon glyphicon-share"></i> 导出为EXCEL
    </button>

    <script>
        'use strict';
        var $change_rate = $('#change_rate');
        var $table = $('#table');
        var $statistic_table = $("#statistic_table");
        var $type = $("#type_select");
        var $batch = $("#batch_select");
        var $export = $('#export_button');
        var statistic_data = [{}];
        
        $export.on('click', function(){
            console.log("clicked");
            let visible_th = $table.find("th");
            let visible_columns_name_dict = {}
            visible_th.each(function(){
                console.log($(this).attr("data-field"));
                console.log($(this).find("div.th-inner").text());
                visible_columns_name_dict[$(this).attr("data-field")] = $(this).find("div.th-inner").text();
            })
            console.log(visible_columns_name_dict);
            let table_data = $table.bootstrapTable('getData');
            let info = JSON.stringify([visible_columns_name_dict, table_data]);
            console.log(info);
            $.ajax({
                url:"/export_data",
                data:info,
                type:"POST",
                dataType:"text",
                success:function(data){
                    console.log(data);
                }
            })
        });


        $('#change_rate').editable({
            type:"text",
            title:"请输入当前汇率"
        });

        $('#change_rate').on('save', function(e, params){
            $table.bootstrapTable("append",[]);
            $statistic_table.bootstrapTable("append",[]);
        });

        $table.bootstrapTable({
            columns: [{
                "checkbox": true
            },{
                "field": 'product_id',
                "title": '产品ID',
            },{
                "field": "product_type",
                "title": "产品类别",
                "type": "text",
                "editable": {
                    "type": "text",
                    "placement": "bottom",
                    "validate": function (v) {
                        if (!v) return '不能为空';  
                    }
                }
            },{
                "field": 'product_name',
                "title": '产品名称',
                "editable": {
                    "mode": "popup",
                    "type": 'select',
                    "title": '选择产品',
                    "source":function(){
                        var product_names;
                        $.ajax({
                            url:"/get_product_names",
                            data:$type.val(),
                            type:"POST",
                            dataType:"json",
                            async:false,
                            success:function(data){
                                product_names = data;
                            }
                        })
                        return product_names;
                    },
                    "validate": function (v) {
                        if (!v) return '不能为空';  
                    }
                }
            },{
                "field": 'product_count',
                "title": '数量',
                "editable": {
                    "mode": "inline",
                    "type": 'text',
                    "validate": function (v) {
                        if (!v) return '不能为空';  
                    }
                }
            },{
                "field": 'single_original_price',
                "title": '原价(单)/欧元',
                "editable": {
                    "mode": "inline",
                    "type": 'text',
                    "validate": function (v) {
                        if (!v) return '不能为空';  
                    }
                }
            },{
                "field": 'discount',
                "title": '折扣',
                "editable": {
                    "mode": "inline",
                    "type": 'text',
                    "validate": function (v) {
                        if (!v) return '不能为空';  
                    }
                }
            },{
                "field": 'single_buy_price',
                "title": '实价(单)/欧元',
                "editable": {
                    "mode": "inline",
                    "type": 'text',
                    "validate": function (v) {
                        if (!v) return '不能为空';  
                    }
                }
            },{
                "field": 'total_buy_price',
                "title": '实价(总)/欧元',
                "editable": {
                    "mode": "inline",
                    "type": 'text',
                    "validate": function (v) {
                        if (!v) return '不能为空';  
                    }
                }
            },{
                "field": 'single_sell_price',
                "title": '售价(单)/人民币',
                "visible": false,
                "editable": {
                    "mode": "inline",
                    "type": 'text',
                    "validate": function (v) {
                        if (!v) return '不能为空';  
                    }
                }
            },{
                "field": 'total_sell_price',
                "title": '售价(总)/人民币',
                "visible": false,
                "editable": {
                    "mode": "inline",
                    "type": 'text',
                    "validate": function (v) {
                        if (!v) return '不能为空';  
                    }
                }
            },{
                "field": 'single_profit',
                "title": '利润(单)/人民币',
                "visible": false,
                "editable": {
                    "mode": "inline",
                    "type": 'text',
                    "validate": function (v) {
                        if (!v) return '不能为空';  
                    }
                }
            },{
                "field": 'total_profit',
                "title": '利润(总)/人民币',
                "visible": false,
                "editable": {
                    "mode": "inline",
                    "type": 'text',
                    "validate": function (v) {
                        if (!v) return '不能为空';  
                    }
                }
            },{
                "field": "date",
                "title": "日期",
                "type": "text",
                "editable": {
                    "type": "date",
                    "placement": "bottom",
                    "validate": function (v) {
                        if (!v) return '不能为空';  
                    }
                }
            },{
                "field": "batch_info",
                "title": "批次",
                "type": "text",
                "editable": {
                    "type": "text",
                    "placement": "bottom",
                    "validate": function (v) {
                        if (!v) return '不能为空';  
                    }
                }
            }],
            onEditableSave: function (field, row, oldValue, $el){
                let change_rate = parseFloat($change_rate.text());
                if (field == "product_name"){
                    $.ajax({
                    url:"/get_product",
                    data: row.product_name,
                    type:"POST",
                    dataType:"json",
                    async:false,
                    success:function(data){
                            $.each(data, function(index, value){
                                if (index != "_id" && index != "product_name"){
                                    row[index] = data[index];
                                }   
                            })
                        }
                    })
                }
                row.single_buy_price =  row.single_original_price * row.discount;
                row.single_buy_price = row.single_buy_price.toFixed(2);
                row.total_buy_price = row.single_buy_price * row.product_count;
                row.total_buy_price = row.total_buy_price.toFixed(2);
                row.total_sell_price = row.single_sell_price * row.product_count;
                row.single_profit = row.single_sell_price - row.single_buy_price * parseFloat(change_rate);
                row.single_profit = row.single_profit.toFixed(2);
                row.total_profit = row.single_profit * row.product_count;
                row.total_profit = row.total_profit.toFixed(2);
                console.log(row.total_buy_price);

                $table.bootstrapTable("append", []);
            },
            onEditableInit: function(){
                console.log("产品表格初始化");
                let data;
                let info = JSON.stringify([$type.val(), $batch.val()]);
                if ($batch.val()){
                    $.ajax({
                    url:"/get_statistics",
                    data:info,
                    type:"POST",
                    dataType:"json",
                    success:function(data){
                            let change_rate = parseFloat($change_rate.text());
                            console.log("change_rate: "+change_rate);
                            statistic_data[0]["product_type"] = $type.val();
                            statistic_data[0]["batch_info"] = $batch.val();
                            statistic_data[0]["product_count"] = $table.find("tr").length - 1;
                            statistic_data[0]["total_value"] = get_sum($table.find("a[data-name=single_original_price]"));
                            statistic_data[0]["total_cost_eu"] = get_sum($table.find("a[data-name=total_buy_price]"));
                            statistic_data[0]["total_cost_eu"] = statistic_data[0]["total_cost_eu"].toFixed(2);
                            statistic_data[0]["total_cost_cn"] = statistic_data[0]["total_cost_eu"]*change_rate;
                            statistic_data[0]["total_cost_cn"] = statistic_data[0]["total_cost_cn"].toFixed(2);
                            statistic_data[0]["postage"] = $statistic_table.find("a[data-name=postage]").text()
                            statistic_data[0]["packing"] = $statistic_table.find("a[data-name=packing]").text()
                            if (data){
                                statistic_data[0]["postage"] = data["postage"];
                                statistic_data[0]["packing"] = data["packing"];
                            }
                            statistic_data[0]["total_gross_profit_cn"] = get_sum($table.find("a[data-name=total_profit]"));
                            statistic_data[0]["total_profit_cn"] = statistic_data[0]["total_gross_profit_cn"] - parseFloat(statistic_data[0]["postage"]) - parseFloat(statistic_data[0]["packing"]);
                            statistic_data[0]["total_profit_cn"] = statistic_data[0]["total_profit_cn"].toFixed(2)
                            statistic_data[0]["total_profit_eu"] = parseFloat(statistic_data[0]["total_profit_cn"])/change_rate;
                            statistic_data[0]["total_profit_eu"] = statistic_data[0]["total_profit_eu"].toFixed(2);
                            $statistic_table.bootstrapTable("load", statistic_data);
                        }
                    })
                }   
            }
        })
            
        function get_sum(all_cells){
            let sum = 0;
            if (all_cells.length > 0){
                all_cells.each(function(){
                    sum = sum + parseFloat($(this).text());
                });
            }
            if (sum == 0){
                return undefined;
            }
            console.log("sum: "+sum);
            return sum;
        }

        $statistic_table.bootstrapTable({
            columns: [{
                "field": "product_type",
                "title": '产品种类',
            },{
                "field": "batch_info",
                "title": '批次',
            },{
                "field": "product_count",
                "title": '货品总数',
            },{
                "field": "total_cost_eu",
                "title": '总成本/欧元',
            },{
                "field": "total_cost_cn",
                "title": '总成本/人民币',
            },{
                "field": "postage",
                "title": '邮费',
                "editable": {
                    "mode": "inline",
                    "type": 'text',
                    "validate": function (v) {
                        if (!v) return '不能为空';  
                    }
                }
            },{
                "field": "packing",
                "title": '包装材料',
                "editable": {
                    "mode": "inline",
                    "type": 'text',
                    "validate": function (v) {
                        if (!v) return '不能为空';  
                    }
                }
            },{
                "field": "total_profit_eu",
                "title": '总利润/欧元',
                "visible": false,
            },{
                "field": "total_profit_cn",
                "title": '总利润/人民币',
                "visible": false,
            }],
            onEditableSave: function(field, row, oldValue, $el){
                console.log(field);
                if (["postage", "packing"].indexOf(field) != -1){
                    let change_rate = parseFloat($change_rate.text());
                    console.log("somthing changed");
                    row.total_profit_cn = statistic_data[0]["total_gross_profit_cn"] - parseFloat(row.postage) - parseFloat(row.packing);
                    console.log(row.total_profit_cn);
                    row.total_profit_cn = row.total_profit_cn.toFixed(2)
                    row.total_profit_eu = row.total_profit_cn/change_rate;
                    row.total_profit_eu = row.total_profit_eu.toFixed(2);
                    $statistic_table.bootstrapTable("append", []);
                }

            }
        });

        /* 批次选择 */
        updata_type_select();
        function updata_type_select(){
            $.ajax({
                url:"/get_type_list",
                data:"",
                type:"POST",
                dataType:"json",
                success:function(data){
                    $.each(data, function(index, value){
                        $type.append("<option value='{0}'>{0}</option>".format(value));
                        $type.selectpicker("refresh");
                    });
                }
            });
        }
        
        $type.on("changed.bs.select", function(event, clickedIndex, newValue, oldValue){
            update_batch_select();
        });

        function update_batch_select(){
            var type_name = $type.val();
            $.ajax({
                url:"/get_batch_list",
                data:type_name,
                type:"POST",
                dataType:"json",
                success:function(data){
                    $batch.empty();
                    $.each(data, function(index, value){
                        $batch.append("<option value='{0}'>{0}</option>".format(value));
                        $batch.selectpicker("refresh");
                    });
                }
            })
        }

        $batch.on("changed.bs.select", function(event, clickedIndex, newValue, oldValue){
            let info = [$type.val(), $batch.val()];
            info = JSON.stringify(info);
            $.ajax({
                url:"/get_purchase",
                traditional: true,
                data: info,
                type:"POST",
                dataType:"json",
                success:function(data){
                    $table.bootstrapTable("load", data);
                }
            })
        });

        var $remove_button = $("#remove_button");
        $table.on('check.bs.table uncheck.bs.table check-all.bs.table uncheck-all.bs.table', function () {
            $remove_button.prop('disabled', !$table.bootstrapTable('getSelections').length);
        });

        var delete_list = []
        $remove_button.click(function(){
            let delete_list = []
            $.map($table.bootstrapTable('getSelections'), function (row) {
                $table.bootstrapTable("remove", {
                    field: "product_id",
                    values: [row.product_id]
                });
                let info = [row.product_id, row.product_type, row.batch_info];
                info = JSON.stringify(info);
                $.ajax({
                    url:"/purchase_delete",
                    data:info,
                    type:"POST",
                    dataType:"text",
                    async:false,
                    success:function(data){
                        delete_list.push(data);
                    }
                }); 
            });
            $remove_button.prop('disabled', true);
            alert("已删除 " + delete_list);
        });
        

        /* 初始化默认添加数据 */
        /* 获得当前日期 */
        function getToday(){
            var current_date = new Date();
            var year = current_date.getFullYear();
            var month = current_date.getMonth() + 1;
            var day = current_date.getDate();
            if (month < 10){
                month = "0" + month;
            }
            if (day < 10){
                day = "0" + day;
            }
            var today =  year + "-" + month + "-" + day;
            return today;
        }

        /* 添加数据 */
        var today = getToday();
        console.log(today);
        function get_default_data(old_id){
            var default_data = [{
                "product_id": 0,
                "product_type": $type.val(),
                "product_name":"",
                "product_count": "1",
                "single_original_price":"",
                "discount":"",
                "single_buy_price":"",
                "total_buy_price":"",
                "single_sell_price": "未设置",
                "total_sell_price":"",
                "single_profit":"",
                "total_profit":"",
                "date": today,
                "batch_info": function(){
                    if ($batch.val()){
                        return $batch.val();
                    } else {
                        return "未设置";
                    }
                }()
            }];
            var new_id = old_id + 1;
            default_data[0]["product_id"] = new_id;
            return default_data;
        }

        var $add_button = $("#add_button");
        $add_button.click(function() {
            let td = $table.find("tr").last().find("td").eq(1);
            let old_id;
            if (td.length == 0){
                old_id = 0;
            } else {
                old_id = td.text();
            }
            $table.bootstrapTable('append', get_default_data(parseInt(old_id)));
            $table.bootstrapTable('scrollTo', 'bottom');
        });

        //点击保存，将产品信息保存到数据库 
        var $save_button = $("#save_button");
        $save_button.click(function() {
            save_table_data($table, "/save_purchase");
            save_table_data($statistic_table, "/save_statistic");
        });

        function save_table_data(table, aim_url){
            let table_data = table.bootstrapTable("getData");
            console.log("table_data: "+table_data);
            let json_data = JSON.stringify(table_data);
            console.log("json_data: "+json_data);
            $.ajax({
                url:aim_url,
                data:json_data,
                type:"POST",
                dataType:"text",
                success:function(data){
                    console.log(data);
                    if (data !== "None"){
                        alert("返回数据：" + data);
                        update_batch_select();
                    }
                }
            }) 
        }

        /* 切换显示模式 */
        var $mode = $("#mode_button");
        var table_columns_list = ["single_sell_price", "total_sell_price", "single_profit", "total_profit"]
        var statistic_table_columns_list = ["total_profit_eu", "total_profit_cn"];
        $mode.click(function(){
            var old_mode = $.trim($(this).text());
            var new_mode;
            var mode_operation;
            if (old_mode=="本人模式"){
                new_mode = "对帐模式";
                mode_operation = "showColumn";
            } else {
                new_mode = "本人模式";
                mode_operation = "hideColumn";
            }
            var new_html = $(this).html().replace(old_mode, new_mode);
            $(this).html(new_html);
            var columns_name;
            $.each(table_columns_list, function(index, value){
                $table.bootstrapTable(mode_operation, value);
            });
            $.each(statistic_table_columns_list, function(index, value){
                $statistic_table.bootstrapTable(mode_operation, value);
            });
        });
    </script>
{% endblock %}
