<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>BootStrap Table使用</title>
    <!--@*1、Jquery组件引用*@-->
    <script src="../static/jquery-1.9.1.js"></script>

    <!--@*2、bootstrap组件引用*@-->
    <script src="../static/bootstrap-3.3.7/dist/js/bootstrap.js"></script>
    <link href="../static/bootstrap-3.3.7/dist/css/bootstrap.css" rel="stylesheet" />

    <!--@*3、bootstrap table组件以及中文包的引用*@-->
    <script src="../static/bootstrap-table/dist/bootstrap-table.js"></script>
    <link href="../static/bootstrap-table/dist/bootstrap-table.css" rel="stylesheet" />
    <script src="../static/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>


    <script src="../static/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>
    <link href="../static/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />

    <script src="../static/bootstrap-table/dist/extensions/editable/bootstrap-table-editable.js"></script>
    
</head>
<body>

<div id="whole">
        <div style="width: 80%;margin: 0 auto">
            <table id="table"></table>
        </div> 
            
        <div id="toolbar">
            <button id="add_button" class="btn btn-danger">
                <i class="glyphicon glyphicon-plus"></i> 新增
            </button>
            <button id="remove_button" class="btn btn-info" disabled>
                <i class="glyphicon glyphicon-remove"></i> 删除
            </button>
        </div>
</div>


<script>
    var $whole = $('#whole');
    $whole.offset({top:100,left:0});
    var $table = $('#table');
    $table.bootstrapTable({
        toolbar: "#toolbar",
        idField: "Id",
        pagination: true,
        showRefresh: true,
        search: true,
        clickToSelect: true,
        columns: [{
            checkbox: true
        },{
            field: 'id',
            title: 'ID',
            editable: {
                mode: "inline",
                type: 'text',
                validate: function (v) {
                    if (!v) return '不能为空';  
                }
            },
            
        }, {
            field: 'date',
            title: '日期',
            editable: {
                placement: 'right',
                type: 'date',
            }
        }, {
            field: 'name',
            title: '名称',
            editable: {
                mode: "inline",
                type: 'text',
                validate: function (v) {
                    if (!v) return '不能为空';  
                }
            }
        }, {
            field: 'count',
            title: '数量',
            editable: {
                mode: "inline",
                type: 'text',
                validate: function (v) {
                    if (!v) return '不能为空';  
                }
            }
        }, {
            field: 'normal_price',
            title: '原价/€',
            editable: {
                mode: "inline",
                type: 'text',
                validate: function (v) {
                    if (!v) return '不能为空';  
                }
            }
        }, {
            field: 'discount',
            title: '折扣',
            editable: {
                mode: "inline",
                type: 'text',
                validate: function (v) {
                    if (!v) return '不能为空';  
                }
            }
        }, {
            field: 'actual_price',
            title: '折后价/€',
            editable: {
                mode: "inline",
                type: 'text',
                validate: function (v) {
                    if (!v) return '不能为空';  
                }
            }
        }, {
            field: 'sell_price',
            title: '售价/¥',
            editable: {
                mode: "inline",
                type: 'text',
                validate: function (v) {
                    if (!v) return '不能为空';  
                }
            }
        }, {
            field: 'postage',
            title: '邮费/¥',
            editable: {
                mode: "inline",
                type: 'text',
                validate: function (v) {
                    if (!v) return '不能为空';  
                }
            }
        }, {
            field: 'box',
            title: '纸箱/气泡柱',
            editable: {
                mode: "inline",
                type: 'text',
                validate: function (v) {
                    if (!v) return '不能为空';  
                }
            }
        }],
        data: [{
            id: 1,
            name: 'Item 1',
            price: '$1'
        }, {
            id: 2,
            name: 'Item 2',
            price: '$2'
        }]
    });

    $table.on('check.bs.table uncheck.bs.table check-all.bs.table uncheck-all.bs.table', () => {
            $remove_button.prop('disabled', !$table.bootstrapTable('getSelections').length);
            selections = getIdSelections();
    });
    var $add_button = $('#add_button')
        $remove_button = $('#remove_button')
    $(() => {
        $remove_button.click(() => {
            var ids = getIdSelections();
            $table.bootstrapTable('remove', {
                field: 'id',
                values: ids
            });
        });
        
        var list = [{
            id: 0,
            name: '0',
            price: '$' + 0
        }]
        console.log(list);
        $add_button.click(() => {
            $table.bootstrapTable('append', list);
            $table.bootstrapTable('scrollTo', 'bottom');
        });
    });

    
    
    function getIdSelections() {
        return $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.id
        });
    }
    
</script>
</body>
</html>